POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_HOST=example
POSTGRES_PORT=example
POSTGRES_DB=example
ACCOUNT_DAILY_USAGE_RATE=150
PROCESS_COUNT=4
UPDATE_PROCESS_DELAY_MAX=2
ACCOUNT_TOO_MANY_REQUESTS_SLEEP=2

